{% extends "base.html" %}

{%load static%}

    


{% block content %}
  <div class="container">
    {% include 'includes/alerts.html' %}
    <div class="title" style="color: black; font-family: 'Rutex', sans-serif;">Registration</div>
    <div class="content">
      <form action="{% url 'register' %}" method="post" autocomplete="off">
        {% csrf_token %}
        
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            {{ form.first_name }}
          </div>

          <div class="input-box">
            <span class="details">Last Name</span>
            {{ form.last_name }}
          </div>
          <div class="input-box">
            <span class="details">Email Address</span>
            {{ form.email }}
            <small class="text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            {{ form.phone_number }} 
          </div>
          
          <div class="input-box" style="position: relative;">
            <span class="details">Password</span>
            {{ form.password }}
          </div>

          
            
        </div>
        
        <div class="button">
          <input type="submit" name="submit" value="Register">
        </div>
        {% if form.errors %}
          <div class="alert alert-danger">
            {% for field in form %}
              {% for error in field.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <div class="registation">
          <span style="color: black;">Already have an account?<a href="{% url 'login' %}">login now</a></span>
        </div>
      </form>
    </div>
  </div>



  <style>

    /* Register page */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container{
    place-items: center;
  margin-top: 80px; 
  margin-bottom: 90px;  
  background-color: #fff8f8;
  max-width: 900px;
  width: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
 
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 200px;
  border-radius: 5px;
  background: linear-gradient(135deg,#ffffff, #CE9694);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #CE9694;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 40%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #CE9694;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.4s ease;
   background: linear-gradient(135deg, #ffffff, #CE9694);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg , #ffffff, #CE9694);
  }

  .registation{
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.registation a{
    color: #374a66;
    &:hover{
        color: #CE9694;
    }
}
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

/* Register page ends here */

  </style>

{% endblock %}