 {% extends 'base.html' %}
{% load static %}

{% block content %}


    
    <div class="container-fluid pt-5 ml-5">
        <h4 class="text-center mb-10" style="font-family: 'Rutex', sans-serif;">Riview Your Order & Make Payment</h4>
        <div class="row px-xl-6 ml-5">
            <div class="col-lg-6 table-responsive mb-5 ml-5">
                
                <br>
                <div class="card">
                    <h5 class="card-header">Billing Address</h5>
                    <div class="card-body">
                        <p class="card-text mb-0">{{ order.full_name }}</p>
                        <p class="card-text mb-0">{{ order.full_address }}</p>
                        <p class="card-text mb-0">{{ order.city }}, {{ order.state }}</p>
                        <p class="card-text mb-0"> {{ order.country }}</p>
                        <p class="card-text mb-0"> {{ order.email }}</p>
                        <p class="card-text mb-0"> {{ order.phone }}</p>
                        {% if order.order_note %}
                        <b>Order Note: </b>{{ order.order_note }}
                        {% endif %}
                    </div>
                </div>
                <br>

                <div class="card">
                    <h5 class="card-header">Review Products</h5>
                    <div class="card-body">
                        <table class="table table-bordered text-center mb-0">
                        <thead class="bg-secondary text-dark">
                            <tr>
                                <th>Products</th>
                                <th>Each Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">

                            {% for cart_item in cart_items %}
                            <tr>
                                <td class="align-middle">
                                    <img src="{{ cart_item.product.images.url }}" alt="" style="width: 50px;">
                                    <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                </td>
                                <td class="align-middle">₹{{ cart_item.product.price }}</td>
                                <td class="align-middle">{{ cart_item.quantity }}</td>
                                <td class="align-middle">₹{{ cart_item.sub_total }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <br>

                <div class="card">
                    <h5 class="card-header">Payment Method</h5>
                    <div class="card-body">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <br>

                
                <br>
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">₹ {{ total }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Tax</h6>
                            <h6 class="font-weight-medium">₹ {{ tax }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">₹ 10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">₹ {{ grand_total }}</h5>
                        </div>
                        <a href="{% url 'checkout' %}" class="btn btn-block btn-primary my-3 py-3">Make Payment </a>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block my-3 py-3">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}